/* ========= GRID LAYOUT ========= */

.container {
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  grid-template-areas:
    "header"
    "main"
    "main"
    "aside"
    "footer";
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-areas:
      "header header header"
      "main   main   main"
      "footer footer footer";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
}
